﻿@model List<DAEAvz_lab12.Models.StudentModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Please enter the credentials below.</h3>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group col-md-5">
            <label>Student code</label>
            <input type="text" name="StudentCode" id="StudentCode" class="form-control" placeholder="Enter Student Code" required />
        </div>
        <div class="form-group col-md-5">
            <label>Student name</label>
            <input type="text" name="StudentName" id="StudentName" class="form-control" placeholder="Enter Student Name" required />
        </div>
        <div class="form-group col-md-5">
            <label>Student last name</label>
            <input type="text" name="StudentLastName" id="StudentLastName" class="form-control" placeholder="Enter Student Last name" required />
        </div>
        <div class="form-group col-md-5">
            <label>Student Address</label>
            <input type="text" name="StudentAddress" id="StudentAddress" class="form-control" placeholder="Enter Student Address" required />
        </div>
        <div class="form-group col-md-1">
            <div style="float: right; display: inline-block">
                <input class="btn btn-primary" name="submitButton" id="btnSave" value="Save" type="button" />
            </div>
        </div>
    </div><hr />

    <table id="tblStudent" class="table table-bordered table-striped table-responsive table-hover">
        <thead>
            @foreach (var item in Model)
            {
                <tr>
                    <th align="left" class="productth">@item.ID</th>
                    <th align="left" class="productth">@item.Code</th>
                    <th align="left" class="productth">@item.Name</th>
                    <th align="left" class="productth">@item.LastName</th>
                    <th align="left" class="productth">@item.Address</th>
                </tr>
            }
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            //LoadData();

            $("#btnSave").click(function () {
                var std = {};
                std.studentCode = $("#StudentCode").val();
                std.studentName = $("#StudentName").val();
                std.studentLastName = $("#StudentLastName").val();
                std.studentAddress = $("#StudentAddress").val();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("createStudent")',
                    data: '{std: ' + JSON.stringify(std) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        LoadData();
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
                return false;
            });
        });

        function LoadData() {
            $("#tblStudent tbody tr").remove();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getStudent")',
                data: { id: '' },
                dataType: "json",
                success: function (data) {
                    var items = '';
                    $.each(data, function (i, item) {
                        var rows = "<tr>"
                            + "<td class='producttd'>" + item.studentID + "</td>"
                            + "<td class='producttd'>" + item.studentCode + "</td>"
                            + "<td class='producttd'>" + item.studentName + "</td>"
                            + "<td class='producttd'>" + item.studentLastName + "</td>"
                            + "<td class='producttd'>" + item.studentAddress + "</td>"
                            + "</tr>";
                        $('#tblStudent tbody').append(rows);
                    });
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.message);
                    alert("StackTrace: " + r.stackTrace);
                    alert("ExceptionType: " + r.exceptionType);
                }
            });
            return false;
        }
    </script>
}